.header-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 78px;
    background: linear-gradient(90.21deg, #053ED1 0%, #0F4EAC 100%);
    z-index: 1;

    .ellipese50 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }

    .ellipese49 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -1;
    }
    .profile {
        margin: 14px 60px;
        height: 50px;
        min-width: 200px;
        z-index: 20;
        opacity: 1;
        display: flex;
        img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
        }
        p {
            margin: 5px 0;
            color: white;
        }
        .nameDiv {
            margin-left: 10px;
            .name {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
            }
            .email {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: 0.08em;
            }
        }
        .logout-btn {
            right: 90px;
            position: absolute;
            top: 20px;
            svg {
                position: absolute;
                &.shape2 {
                    top: 15px;
                    left: -6px;
                }
                &.shape3 {
                    top: 9px;
                    left: 13px;
                }
            }
        }
    }
}