@import "../../resources/styles/variable.scss";
@import "../../resources/styles/global.scss";

.contactPageWrapper {
    @include commanPageCss;

    .content {
        margin-top: 78px;
        padding: 20px 75px;
        @include breakpoint('mobileonly') {
            padding: 10px!important;
            word-break: break-all;
        }
        background: #ffffff99;
        h2 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            letter-spacing: 0.08em;
            color: #053ED1;
            span {
                font-size: 16px;
                margin-left: 5px;
            }
        }
        .table-wrapper {
            .header {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                span {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.08em;
                    color: #B0C6FF;
                    text-transform: uppercase;
                    padding-left: 50px;
                    @include breakpoint('mobileonly') {
                        padding-left: 0px;
                    }
                }
            }
            .body {
                overflow-x: scroll;
                height: calc(100vh - 225px);
                .row {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
                    border-radius: 8px;
                    height: 50px;
                    margin: 5px 5px 5px 0px;
                    @include breakpoint('mobileonly') {
                        height: auto;
                    }
                    span {
                        img {
                            margin-top: 10px;
                            height: 30px;
                            width: 30px;
                            border-radius: 25px;
                            margin-right: 5px;
                            border: 1px solid #FF0000;
                            box-sizing: border-box;
                            @include breakpoint('mobileonly') {
                                display: none;
                            }
                        }
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 50px;
                        letter-spacing: 0.08em;
                        padding-left: 50px;
                        &.name {
                            text-transform: capitalize;
                            position: relative;
                            display: flex;
                            .checkbox {
                                position: absolute;
                                left: 20px;
                                top: 17px;
                                height: 12px;
                                width: 12px;
                                border: 1.4px solid #053ED1;
                                border-radius: 4px;
                                display: none;
                            }
                            @include breakpoint('mobileonly') {
                                font-size: 12px;
                            }
                        }
                        &.email {
                            font-weight: normal;
                            font-size: 12px;
                        }
                        &.phone-no {
                            position: relative;
                            .bin {
                                position: absolute;
                                right: 20px;
                                top: 18px;
                                height: 15px;
                                display: none;
                            }
                        }
                        @include breakpoint('mobileonly') {
                            padding-left: 0px;
                            line-height: 23px;
                            padding: 5px;
                        }
                    }
                    &:hover {
                        border: 1px solid #4EB4FF;
                        box-sizing: border-box;
                        box-shadow: 0px 4px 10px rgba(5, 62, 209, 0.19);
                        .bin, .checkbox {
                            display: block!important;
                            @include breakpoint('mobileonly') {
                                display: none!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    margin-right: -10px;
}

::-webkit-scrollbar-track {
    background: #F4F7FF;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #053ED1;
    border-radius: 4px;
}